/*
** Photoshop Drop Shadow
**
** @mixin photoshop-drop-shadow ($angle: 0, $distance: 0, $spread: 0, $size: 0, $color: #000, $inner: false);
**
*/

// Sidebar
$sidebar-shadow: 0px 3px 115px 0px rgba(50, 50, 50, .15);
$img-shadow:
  0 0 0 8px $sidebar-cor,
  0 0 0 9px $add-icone-cor;

$img-shadow-hover:
  0 0 0 5px $sidebar-cor,
  0 0 0 6px $roxo;

// Card
$card-shadow: 0px 3px 30px 0px rgba(50, 50, 50, .15);
$card-shadow-hover: 0px 3px 30px 0px rgba(50, 50, 50, .25);
$card-dropdown-shadow: 0px 6px 20px 0px rgba(50, 50, 50, .20);
