// Sidebar
$nav-width: 300px;
$icone-tamanho: 17px;
$icone-margin: 35px 30px 0 30px;
$img-margin: 100px auto 30px auto;
$titulo-margin-bottom: 15px;
$categorias-padding: 25px;
$categoria-icone-margin-right: 12px;
$categoria-li-margin: 0 10px;
$categoria-a-padding: 1px;
$opcoes-a-padding: 5px $categoria-a-padding;
$opcoes-margin-right: 15px;
$opcoes-margin-left: -25px;

// Content
$content-padding: 45px;

// Card
$card-width: 265px;
$tarefa-icon-size: 7px;
$categoria-icon-size: 7px;
$add-tarefa-icon-size: 10px;

$card-margin-bottom: $content-padding;
$card-head-padding: 12px 28px;
$separador-top: 10px; // deixar a mesma altura do $card-head-padding
$card-h2-padding: 0 0 10px 0;
$card-body-padding: 25px;
$card-border-radius: 50px;
$tarefas-margin-bottom: 20px;
$tarefa-margin-right: 10px;

