$main-font-family: "Open Sans";
$main-font-size: 14px;

// Sidebar
$titulo-font-size: $font-size-h5 + 2;
$titulo-font-weight: 400;

// Content
$tarefas-font-weight: 300;

// Footer
$footer-text-size: $main-font-size - 4;