.roxo {
  &::before {
    background-color: $roxo;
  }

  li {
    &:before {
      border-color: $roxo !important;
    }
  }
  .completo {
    &::before {
      background-color: $roxo;
    }
  }
}

.amarelo {
  &::before {
    background-color: $amarelo;
  }

  li {
    &:before {
      border-color: $amarelo !important;
    }
  }
  .completo {
    &::before {
      background-color: $amarelo;
    }
  }
}

.rosa {
  &::before {
    background-color: $rosa;
  }

  li {
    &:before {
      border-color: $rosa !important;
    }
  }
  .completo {
    &::before {
      background-color: $rosa;
    }
  }
}

.ciano {
  &::before {
    background-color: $ciano;
  }

  li {
    &:before {
      border-color: $ciano !important;
    }
  }
  .completo {
    &::before {
      background-color: $ciano;
    }
  }
}

.azul-escuro {
  &::before {
    background-color: $azul-escuro;
  }

  li {
    &:before {
      border-color: $azul-escuro !important;
    }
  }
  .completo {
    &::before {
      background-color: $azul-escuro;
    }
  }
}

.verde {
  &::before {
    background-color: $verde;
  }

  li {
    &::before {
      border-color: $verde !important;
    }
  }
  .completo {
    &::before {
      background-color: $verde;
    }
  }
}

.vermelho {
  &::before {
    background-color: $vermelho;
  }

  li {
    &::before {
      border-color: $vermelho !important;
    }
  }
  .completo {
    &::before {
      background-color: $vermelho;
    }
  }
}

.laranjado {
  &::before {
    background-color: $laranjado;
  }

  li {
    &::before {
      border-color: $laranjado !important;
    }
  }
  .completo {
    &::before {
      background-color: $laranjado;
    }
  }
}

.azul {
  &::before {
    background-color: $azul;
  }

  li {
    &::before {
      border-color: $azul !important;
    }
  }
  .completo {
    &::before {
      background-color: $azul;
    }
  }
}

.completo {
  span {
    position: relative;
    white-space: nowrap;

    &::after {
      border-top: 1px solid $tarefa-cor;
      position: absolute;
      content: "";
      right: 0;
      top:50%;
      left: 0;
    }
  }
}








