$bg-cor: #f6f7f9;

// Categorias
$verde: #65c178;
$roxo: #a483fd;
$laranjado: #f69e2e;
$vermelho: #fe6f62;
$azul: #6dcbdc;
$azul-escuro: #565ca8;
$amarelo: #fde283;
$rosa: #fd83ba;
$ciano: #1abc9c;

// Sidebar
$sidebar-cor: white;
$icone-cor: #bbc2cc;
$titulo-cor: #746e72;
$categorias-cor: #746e72;
$sub-texto-cor: #bbc0c9;
$pesquisa-border-cor: #eceef2;
$pesquisa-icon-cor: #dce0e8;
$pesquisa-placeholder-cor: #c0cad4;


// Card
$card-cor: white;
$dots-cor: #ced2da;
$separador-cor: #eff0f2;
$tarefa-cor: #a2a6ac;
$titulo-nota-cor: #848b97;
$add-nota-cor: #c8ced5;
$add-icone-cor: #e0e4e7;

// Footer
$footer-texto-cor: #bfc5cc;
$footer-link-cor: #a483fd;
