$main-font-family: "Open Sans";

$main-font-size: 14px;

// Sidebar
$titulo-font-size: $main-font-size + 2;
$titulo-font-weight: 400;

$categorias-font-size: $main-font-size;
$categorias-font-weight: 400;

// Content
$tarefas-font-size: $main-font-size - 2;
$tarefas-font-weight: 300;

// Footer
$footer-text-size: $main-font-size - 4;