.mfb-component__button--main,
.mfb-component__button--child {
  &:hover {
    color: white;
  }
}

.btn-roxo {
  background-color: $roxo !important;
}

.btn-vermelho {
  background-color: $vermelho !important;
}

.btn-rosa {
  background-color: $rosa !important;
}

.btn-verde {
  background-color: $verde !important;
}

.btn-ciano {
  background-color: $ciano !important;
}

.btn-laranjado {
  background-color: $laranjado !important;
}

.btn-amarelo {
  background-color: $amarelo !important;
}

.btn-azul {
  background-color: $azul !important;
}

.btn-azul-escuro {
  background-color: $azul-escuro !important;
}

