body {
  background-color: $bg-cor;
}

.grid {
  width: 100%;
  margin: 0 auto;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: $nav-width;

  #sidebar-wrapper {
    width: $nav-width;
  }

  #page-content-wrapper {
    position: absolute;
    margin-right: -$nav-width;
  }
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  overflow-y: auto;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: $nav-width;
  width: 0;
  height: 100%;
  margin-left: -$nav-width;
  overflow-y: auto;
  overflow-x: hidden;
  background: $sidebar-cor;
  @include box-shadow($sidebar-shadow);
  @include transition(all 0.5s ease);

  a {
    span.glyphicon {
      display: block;
      margin: $icone-margin;
      color: $icone-cor;
      font-size: $icone-tamanho;
      @include transition(all .2s ease);
      cursor: pointer;

      &:hover {
        color: $roxo;
      }
    }

  }

  img {
    background-color: $bg-cor;
    clear: both;
    display: block;
    margin: $img-margin;
    @include border-radius(100%);
    box-shadow: $img-shadow;
    cursor: pointer;
    @include transition(all .2s ease);

    &:hover {
      border-width: 3px;
      box-shadow: $img-shadow-hover;
    }
  }

  h5 {
    text-align: center;
    margin-top: 0;
    margin-bottom: $titulo-margin-bottom;
    color: $titulo-nota-cor;
    font-size: $titulo-font-size;
    @include transition(all .2s ease);
    &:hover {
      color: $roxo;
    }
  }

  a:hover {
    text-decoration: none;
  }

  .procurar {
    position: relative;

    span {
      position: absolute !important;
      padding: 10px;
      pointer-events: none;
      left: 32px;
      color: $pesquisa-icon-cor;
    }

    input {
      display: block;
      width: 80%;
      margin: 45px auto 10px auto;
      padding: 6px 12px;
      padding-left: 32px;
      border: 2px solid $pesquisa-border-cor;
      color: $pesquisa-placeholder-cor;
      @include border-radius(25px);
      font-style: normal;
      @include input-placeholder {
        color: $titulo-cor;
      }

  }

  }

  /* Sidebar Styles */

  ul {
    top: 0;
    width: $nav-width;
    margin: 0;
    padding: $categorias-padding;
    list-style: none;

    li {
      margin: $categoria-li-margin;
      text-indent: 20px;
      line-height: 40px;

      a {
        padding: $categoria-a-padding;
        display: block;
        text-decoration: none;
        color: $categorias-cor;

        &:hover {
          text-decoration: none;
          background: $bg-cor;
          &::before {
            color: $roxo;
          }
        }

        &active,
        &focus {
          text-decoration: none;
        }
      }

      .categoria::before {
        content: "";
        display: inline-block;
        height: $categoria-icon-size;
        width: $categoria-icon-size;
        margin-right: $categoria-icone-margin-right;
        border: 1px solid;
        @include border-radius(100%);
        vertical-align: 4%;
      }
    }
  }

  /* Opcoes nav */
  .opcoes {
    padding-top: 0;
    li {
      a {
        padding: $opcoes-a-padding;

        &:before {
          @extend .glyphicon;
          color: $icone-cor;
          margin-right: $opcoes-margin-right;
          margin-left: $opcoes-margin-left;
        }
      }
    }
    li:first-child {
      a:before {
        @extend .glyphicon-plus;
      }
    }
    li:last-child {
      a:before {
        @extend .glyphicon-folder-open;
      }
    }
  }
}

@media(min-width: 768px) {

  #wrapper {
    padding-left: $nav-width;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: $nav-width;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: $content-padding;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}